@model IEnumerable<Work_01.Models.CartItem>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
    </tr>
    @foreach (var item in Model)
     {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit","Edit",new { })
                @Html.ActionLink("Details", "Details", new { })
                @Html.ActionLink("Delete", "Delete", new { })
            </td>

        </tr>
     }
</table>
